body{
    overflow: hidden;
}

.mtb5{
    margin:5px 0;
}

.left-options{
    width: 300px;
    margin:10px 10px;
    float: left;
}

.right-stock{
    margin-left: 330px;
}

.left-options .input-group-addon{
    width: 72px;
}

.left-options .error-operate p{
    padding:15px 5px;
    color:#000;
}