<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angularjs/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../dist/asgard.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../dist/css/theme/default.css"/>
</head>
<body ng-app="asgard">

<div class="container" ng-controller="exampleController">

    {{a}}

    <div class="row">
        <div class="col-sm-3">
        <select class="form-control" ng-model="currentChannel">
            <option value="-1">选择一个频道</option>
            <option value="{{channel}}" ng-repeat="channel in channels">{{channel}}</option>
        </select>
    </div>

    </div>


    <div id="svg" style="overflow:hidden;">

    </div>
</div>

<script>

    function getApi(symbol,interval,rows){
        var interval = '1', rows = 1000;
        return 'http://api.markets.wallstreetcn.com:80/v1/chart.json?symbol=' + symbol + '&interval=' + interval + '&rows=' + rows;
    }


    var stock;

    $.get(getApi('XAUUSD'), function (data) {
        stock = new Asgard.Stock('#svg', {
            margin:{
                left:0,
                top:50,
                bottom:65,
                right:70
            },
            isZoom: true,
            interval: '1',
            data: [
                {
                    name: 'XAUUSD',
                    data: data.results
                }
            ],
            components: [
                {
                    name: 'axis-bottom',
                    type: 'axis',
                    orient: 'bottom'
                },
                {
                    name: 'axis-right',
                    type: 'axis',
                    orient: 'right'
                },
                {
                    name: 'grid-x',
                    type: 'grid',
                    orient: 'x'
                },
                {
                    name: 'grid-y',
                    type: 'grid',
                    orient: 'y'
                },
                {
                    name: 'tips',
                    type: 'tips'
                },
                {
                    name: 'current-price-line',
                    type: 'currentPriceLine',
                }
            ],
            charts: [

                {
                    name: 'XAUUSD-Candle',
                    type: 'Candle',
                    dataName: 'XAUUSD'
                }
            ]

        });

        stock.draw();

    }, 'jsonp');


</script>



</body>
</html>