.@{name}-line {
  path {
    stroke: @line;
  }
}
.@{name}-area {

  path {
    fill: @area;
    fill-opacity: @area-opacity;
  }
}

.@{name}-candle{
  &-high-low-line{
    &-up{
      stroke: @candle-high-low-line;
    }
    &-down{
      stroke: @candle-high-low-line;
    }

    &-equal{
      fill: @candle-equal;
      stroke: @candle-equal-border;
    }
  }

  &-up{
    fill: @candle-up;
  }
  &-down{
    fill: @candle-down;
  }
  &-equal{
    fill: @candle-equal;
    stroke: @candle-equal-border;
  }
}

.@{name}-hollow-candle{
  &-high-low-line{
    &-up{
      stroke: @hollow-candle-high-low-line;
    }
    &-down{
      stroke: @hollow-candle-high-low-line;
    }

    &-equal{
      fill: @hollow-candle-high-low-line-equal;
      stroke: @hollow-candle-high-low-line-equal;
    }
  }
  &-up{
    fill: @hollow-candle-up;
    stroke:@hollow-candle-up-border;
  }
  &-down{
    fill: @hollow-candle-down;
    stroke: @hollow-candle-down-border;
  }
  &-equal{
    fill: @hollow-candle-equal;
    stroke: @hollow-candle-equal-border;
  }
}

.@{name}-bars{
  &-up{
    fill: @bars-up;
  }
  &-down{
    fill: @bars-down;
  }
  &-consolidation{
    fill: @bars-equal;
  }
}